#### Keywords and Variables

##### Definition and Examples:
##### - Keywords: Reserved words that have special meaning (e.g., if, else, for).
##### - Variables: Containers for storing data values

In [6]:
x = 10       # integer variable
name = "Alice"  # string variable

#### Naming Conventions:

##### - Use descriptive names (e.g., age instead of a).
##### - Variable names should start with a letter or underscore and can contain letters, numbers, and underscores.

In [ ]:
# eg: variable name starting with underscore
_name= "Musnhid Rahman"

#### Fetching User Input

##### Using input() function

In [ ]:
name = input("Enter your name: ")
print("Hello, " + name + "!")

#### Operators

##### Arithmetic Operators:

In [4]:
# Basic mathematical operations

a = 10
b = 5
print(a + b)  # Addition
print(a - b)  # Subtraction
print(a * b)  # Multiplication
print(a / b)  # Division

15
5
50
2.0

##### Comparison Operators:
Used to compare values.

In [3]:
print(a > b)  # Greater than
print(a < b)  # Less than

True
False

##### Logical Operators:
Used to combine conditional statements.

In [5]:
print(a > 5 and b < 10)  # Logical AND
print(a < 5 or b < 10)   # Logical OR
print(not (a > 5))       # Logical NOT

True
True
False

#### Type Casting
##### Converting Between Types:
int, float, str:

In [6]:

# Converting to integer
x = int("5")  # x is now 5
# Converting to float
y = float(10) # y is now 10.0
# Converting to string
z = str(15)   # z is now "15"

#### Conditional Statements
##### if, elif, else statements:

Control flow based on conditions

In [7]:
age = 18
if age < 18:
    print("Minor")
elif age == 18:
    print("Just an adult")
else:
    print("Adult")

Just an adult

In [8]:
# Simple Examples:
number = int(input("Enter a number: "))
if number % 2 == 0:
    print("Even")
else:
    print("Odd")

Enter a number:  34

Even

#### Loops

##### for loops:

Iterating over a sequence (like a list)

In [11]:
for i in range(5):
    print(i)  # Prints numbers from 0 to 4

0
1
2
3
4

#### while loops:

Repeats as long as a condition is true.

In [13]:
count = 0
while count < 5:
    print(count)
    count += 1

0
1
2
3
4

#### Break and Continue Statements:

Break: Exits the loop

In [15]:
# Example: Stop the loop when i reaches 3
for i in range(5):
    if i == 3:
        break
    print(i)

0
1
2

Continue: Skips the current iteration and continues with the next.

In [17]:
# Example: Skip printing 3.
for i in range(5):
    if i == 3:
        continue
    print(i)

0
1
2
4

#### 7. Data Structures

##### Strings: Basic Operations:

In [18]:
# Slicing and Concatenation:
text = "Hello, World!"
print(text[0:5])  # Slicing: "Hello"
print(text + " How are you?")  # Concatenation

Hello
Hello, World! How are you?

##### Lists: Creation, Indexing, and Methods:

In [21]:
# Example:
fruits = ["apple", "banana", "cherry"]
print(fruits[1])  # Indexing: "banana"
fruits.append("orange")  # Adding to list
print(fruits)

banana
['apple', 'banana', 'cherry', 'orange']

##### Tuples: Immutable Sequences:

In [22]:
# Example:
point = (10, 20)
print(point[0])  # Accessing element: 10

10

##### Sets: Unique Elements:

In [23]:
# Example:
unique_numbers = {1, 2, 3, 2}
print(unique_numbers)  # Output: {1, 2, 3}

{1, 2, 3}

##### Dictionaries: Key-Value Pairs:

In [25]:
# Example:
student = {"name": "John", "age": 25}
print(student["name"])  # Accessing value by key: "John"

John

#### 8. Functions

##### Defining a Function:

In [27]:
# Example:
def greet(name):
    return "Hello, " + name + "!"

print(greet("Alice"))

Hello, Alice!

##### Parameters and Return Values:

In [28]:
# Example:
def add(a, b):
    return a + b

result = add(5, 3)
print(result)  # Output: 8

8

##### Scope of Variables:

In [29]:
# Example:
def my_function():
    x = "local"
    print(x)

my_function()
# print(x)  # This will cause an error because x is not defined outside the function.

local